.listing-table {
	border: 0px;
}

.listing-table tr,td{
	border: 0px;
}

.listing-card {
    background-color: white; 
    border: 1px solid #EAEAEA; 
    display: block; 
    width:172px; 
    margin: 0; 
    padding: 6px; 
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 7px;
}

.listing-thumb {
    height:135px;
    width:170px;
    display: block;
}

.listing-thumb img {
    margin:0; 
    padding:0;
}

.listing-detail {
    margin:0; 
    padding:0; 
    text-align: left;
}

.listing-title {
    height: 15px; 
    line-height:15px !important; 
    margin:0; 
    padding:0;
    margin-top: 5px; 
    overflow: hidden;
}

.listing-title a {
    color: #666; 
    text-decoration: none;
}

.listing-title a:hover{
    text-decoration: underline;
}

.listing-maker {
    line-height: 14px !important; 
    margin:0; 
    padding:0;
}

.listing-maker a {
    color: #B2B2B2; 
    text-decoration: none; 
    padding:0; 
    margin:0;
}

.listing-maker a:hover{
    text-decoration: underline;
}

.listing-price {
    color:#78C042; 
    float:right; 
    line-height:14px !important; 
    margin-top: -14px;
}

.currency-code {
    font-size:10px;
}